* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background: linear-gradient(to left, rgb(4, 23, 83), rgb(247, 248, 250));
}
.container{
    background-color: white;
    width: 1000px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    margin: 0;
    height: 550px; 
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%); 
    justify-content: center;
}
label {
    font-family: 'Arial' sans-serif;
    font-size: 23px;
    margin-top: 10px;
    flex: 1;
}
.container .titulo{
    position: relative;
    top: 0px;
    padding: 20px;
    left: 380px;
    height: 50px; 
    width: 600px;
    font-family: 'Times New Roman', Times, serif;
}
.contenedor2 .rol{
    position: absolute;
    width: 300px;
    top: 100px;
    left: 85px;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rol input{
    top: 190px;
    width:85%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    background: #f2f2f2e0;
    font-size: 16px;
    outline: none;
    border-radius: 15px;
    border: 2px solid rgb(90, 84, 84);
}
.fila-botones {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 400px;
    top: 150px;
    left: 40px;
  }
  
  .boton-personalizado {
    flex: 1;
    margin-right: 10px;
    max-width: 100px; /* Ajusta el ancho máximo según tus necesidades */
  }
  
  button {
    position: relative;
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 12px; /* Ajusta el tamaño de la fuente según tus necesidades */
    max-width: 100px; /* Ajusta el ancho máximo según tus necesidades */
  }
  
  button:hover {
    background-color: #011b37;
  }

.Permisos{
    position: absolute;
    top: 270px;
    left: 70px;
    padding: 10px;
    display: block;
    width: 860px;   
}
.Permiso{
    font-size: 20px;
    margin-block: 10px;
    position: relative;
    flex-wrap: wrap;
}
.Permiso label {
    display: inline-block;
    margin-right: 10px; /* Ajusta el margen derecho para separar la etiqueta y el checkbox */
}
.Permisos input[type="checkbox"] {
    margin-left: 30px; 
}