/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background: linear-gradient(to left, rgb(4, 23, 83), rgb(247, 248, 250));
}
.container{
    background-color: white;
    width: 1000px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    margin: 0;
    height: 550px; /* Asegura que el cuerpo ocupe toda la altura de la pantalla */
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%); 
    justify-content: center;
}
label {
    font-family: 'Arial' sans-serif;
    margin-top: 10px;
    flex: 1;
}
.container .titulo{
    position: relative;
    top: 0px;
    padding: 20px;
    left: 380px;
    height: 50px; 
    width: 600px;
    font-family: 'Times New Roman', Times, serif;

}
.contenedor2 .rol{
    position: absolute;
    width: 300px;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.permiso select {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
select option:hover{
    background: #ccc;
}
input{
    top: 190px;
    width:85%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    background: #f2f2f2e0;
    font-size: 16px;
    outline: none;
    border-radius: 15px;
    border: 2px solid rgb(90, 84, 84);
}

#area {
    position: relative;
    top: 10px;
    border-radius: 10px;
    width: 85%;
    height: 100px;
    resize: none;
    text-align: center;
    line-height: 90px;
}

#area::placeholder {
    text-align: center;
}

.container .descripcion{
    position: absolute;
    width: 400px;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 300px;
}
.container .permiso{
    position: absolute;
    width: 300px;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 700px;
}
.container .boton{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%); 
    justify-content: center;   
    width: 120px;
    border-radius: 50%;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #007BFF; /* Puedes cambiar a tu color preferido */
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

button:hover {
    background-color: #011b37; /* Puedes cambiar a tu color preferido para el hover */
}