* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

.contenedorinfo {
    position: absolute;
    top: 350px; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%); /* Ajustar para un centrado perfecto */
    z-index: -1; /* Mandar al fondo */
    width: 1000px;
    height: 500px;
    border: 1px solid #777;
}
