* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

.contenedorinfo {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 1000px;
    height: 450px;
    border: 1px solid #777;
}

.contenedorinfo h1 {
    padding: 30px;
    text-align: center;
}

.inputs {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);  /* 4 columnas de igual ancho */
    gap: 40px;  /* Espaciado entre los elementos */
}

/* Colocamos explícitamente el 7mo input en la cuarta columna y segunda fila */
.inputs input:nth-child(10) {
    grid-column: 4;
    grid-row: 2;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}
