* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
body {
    position: absolute;
    font-family: Arial, sans-serif;
    top: 10px;
    width: 1300px;
    padding: 100px;
    height: 200px;
    background-color: linear-gradient(to left, rgb(4, 23, 83), rgb(247, 248, 250));;
}
.calendario{
    position: relative;
    left: 110px;
    top: 40px;
    
}
.seleccion {
    position: relative;
    width: 350px; /* Ajusta el ancho según tus preferencias */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px; /* Ajusta el tamaño de fuente según tus preferencias */
    left: 500px;
}