*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to left, rgb(4, 23, 83), rgb(247, 248, 250));
}
.navegacion{

    border-radius: 15px;
    width: 1000px;
    margin: 40px auto; 
    border-bottom: 1px solid black;   
}
.navegacion ul{
    list-style: none;
}
.menu > li{
   position: relative;
   display: inline-block;
}
.menu > li > a{
    display: block;
    padding: 15px 20px;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    color: #000000;
    text-decoration: none;
    border-radius: 25px; 
}
.menu li a:hover{
    background: rgba(5, 5, 165, 0.642);
    color: white;
    text-decoration: underline; /* Subraya el enlace cuando se pasa el cursor por encima */
    transition: all .3s;
}
.submenu{
    position: absolute;
    background: white;
    border: 2px solid #bcbcbc;
    width:180%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    border-radius: 25px; 
}
.submenu li a{
    display: block;   
    padding: 15px;
    color: rgb(0, 0, 0);
    font-family: 'open sans';
    text-decoration: none;
    border-radius: 25px; 
}
.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
    
}
img{
    z-index: 1;
    border-radius: 200px;
    position: relative;
    left: 440px;
    top: 30px;
    width: 400px;
    background-size: cover;
}
.perfilusuario{
    position: relative;
    top: 0; /* Ajusta según tus necesidades */
    right: 0; 
}
/* Establece la navegación como un contenedor flex */
.navegacion .menu {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos en caso de que tengan diferentes alturas */
}

/* Establece el elemento .perfilusuario para que se mueva al extremo derecho */
.perfilusuario {
    margin-left: auto;
}

.submenu {
    /* ... (los estilos existentes que ya has definido) ... */
    width: 130px; /* Establece el ancho que desees para el submenu */
}
/* Oculta todas las secciones de contenido por defecto */
.contenido{
    display: none;
}

/* Muestra la sección de contenido cuando su ID coincide con el fragmento de la URL */
.contenido {
    display: block;
}
/* CSS */
.item-seleccionado {
    background-color: blue;
    color: white;
}
/* Resaltar el enlace activo con un fondo azul */
.menu li a.active {
    background-color: rgba(5, 5, 165, 0.642);
    color: white;
}

