* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
body {
    position: relative;
    font-family: Arial, sans-serif;
    top: -10px;
    width: 1000px;
    padding: 100px;
    height: 400px;
    left: 100px;
}
.contenedortodo{
    position: relative;
    width: 1000px;
    height: 500px;
    left: 0px;
}
h1{
    text-align: center;
}


button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    background-color: rgb(118, 138, 167);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: rgb(230, 135, 219); 
}
.historial{
    top: 80px;
    position: relative;
    width: 1100px;
  }
  table {
      width: 100%;
      background-color: #fff;
    }
    
    thead {
      background-color: #e1e0e0;
    }
    
    th {
      text-align: center;
      padding: 10px;
    }
    
    td {
      padding: 10px;
    }
    table {
      order: -1;
    }
    .btn-editar,
    .btn-eliminar {
      padding: 10px 15px;
      font-size: 16px;
    }
.contenedorDatos {
    position: absolute;
    top: 355px;
    left: 850px;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 900px;
    height: 495px;
    background-color: white;
}
.contenedorDatos h1 {
    padding: 15px;
    text-align: center;
}
.historial tbody tr:hover td {
  background-color: rgb(167, 200, 223); /* Cambia el color de fondo de las celdas al hacer hover */
  color: #333; /* Cambia el color del texto de las celdas al hacer hover */
}
.inputs {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr) auto; 
    gap: 40px; 
}
input{
    width: 110%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    background: #f2f2f2e0;
    font-size: 16px;
    outline: none;
    border-radius: 15px;
}

.inputs .field:nth-child(3) {
    grid-column: 2;
    grid-row: 3;
}
.inputs .field:nth-child(4) {  
    grid-column: 3;
    grid-row: 3;
}
.inputs .field:nth-child(5) {  
    grid-column: 2;
    grid-row: 1;
}
.inputs .field:nth-child(6) { 
    grid-column: 1;
    grid-row: 3;
}
.inputs .field:nth-child(7) {  
    grid-column: 4;
    grid-row: 2;
}
.inputs .field:nth-child(8) {  
    grid-column: 1;
    grid-row: 2;
}
.inputs .field:nth-child(9) {  
    grid-column: 2;
    grid-row: 2;
}
.inputs .field:nth-child(10) {
    grid-column: 3;
    grid-row: 2;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
}